@import '../../styles/objects/titles.scss';
@import '../../styles/objects/page-container.scss';

.admin {
    @extend .page-container;
    &__title {
        @extend .title--section;
        &--subsection {
            font-size: $Medium;
        }
    }
    &__banned-countries-select {
        max-width: 400px;
    }
    &__existing-cards {
        margin: 40px 0;
    }
    &__cards-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__card-item {
        min-height: 100px;
        min-width: 300px;
        padding: 15px;
        margin: 10px;
        border: 5px solid #ff6348;
        border-radius: 5px;
    }
}