// reference points
$base-font-size: 10px;
$base-font-weight: 100;

// colors
$white: #ffffff;
$primary: #ed2282;
$default: #273d53;
$default-bg: #30455e;
$secondary: #0086f7;

// font sizes
$xLarge: 3 * $base-font-size;
$Large: 2.4 * $base-font-size;
$Medium: 1.8 * $base-font-size;
$Small: 1.2 * $base-font-size;
$xSmall: 0.8 * $base-font-size;

// font weights
$Bold: 8 * $base-font-weight;
$LightBold: 6 * $base-font-weight;
$Normal: 4 * $base-font-weight;
$Light: 2 * $base-font-weight;
