@import '../variables.scss';

.button {
    padding: 15px;
    background-color: $primary;
    border-radius: 5px;
    min-width: 350px;
    text-transform: uppercase;
    color: #fff;
    font-weight: $Bold;
    font-size: $Medium;
}