.page-container {
    padding: 70px 165px;
    position: relative;
    z-index: 1;
    &__wrapper {
        background-color: #fff;
        border: 0.5px solid #D4D4D4;
        border-radius: 5px;
    }
    &__section {
        &:after {
            content: '';
            position: relative;
            display: block;
            height: 100px;
            background-color: transparent;
            border-bottom: 0.5px solid #D5D5D5;
            width: 100%;
        }
        &--flush {
            &:after {
                content: '';
                display: block;
                margin-bottom: 75px;
            }
        }
        &--secondary {
            background-color: #F8F8F8;
        }
    }
    &__section-wrapper {
        padding: 75px 100px 0 100px;
    }
}