@import '../variables.scss';

.title {
    &--section {
        font-size: $xLarge;
        font-weight: $LightBold;
        color: $default;
        margin: 0 0 30px 0;
    }
    &--input {
        font-size: $Medium;
        font-weight: $LightBold;
        color: $default;
    }
}