
.header {
    display: flex;
    width: 100%;
    min-height: 50px;
    padding: 20px 150px;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-content: center;
    background: #ff6348;
    &__brand {
        color: #fff;
        margin: 0;
    }
    &__links {
        ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            margin: 0;
            li {
                line-height: normal;
                margin: 0 10px;
                a {
                    text-decoration: none;
                }
                .MuiButton-root {
                    background-color: #ff6348;
                    border: 1px solid #fff;
                    font-weight: 600;
                }
            }
        }
    }
}