@import '../../styles/objects/titles.scss';
@import '../../styles/objects/page-container.scss';

.add-card {
    @extend .page-container;
    &__title {
        @extend .title--section;
    }
    &__field-container {
        display: flex;
        flex-direction: column;
        max-width: 400px;
    }
    &__field {
        &.MuiTextField-root, &.MuiAutocomplete-root {
            margin: 10px 0;
        }
        &--short {
            max-width: 250px;
        }
    }
    &__submit {
        max-width: 250px;
    }
}